.navbar {
    display: flex;
    gap: 1rem;
    justify-content: right;
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-size:20px;
  }
  .navbarLink{
      text-decoration: none;
      color: white;
  }